# npm
node_modules
npm-debug.log

# Bower
public/vendor/*
!public/vendor/*.gitkeep
!public/vendor/draft/.gitkeep

# IDE
.idea

# Jasmine
tests/build/*.js
!tests/build/.gitkeep

# CSS
public/css/*
!public/css/.gitkeep

# Temporary
_src